@model IEnumerable<Restaurant.ViewModels.MasterOfferViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item">Offer</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-end">
                        <a asp-action="Create" class="btn btn-primary">Create New +</a>
                    </h5>
                    <table class="table datatable index-table text-break">
                        <thead>
                            <tr class="bg-dark text-white">
                                <th>
                                    @Html.DisplayNameFor(model => model.MasterOfferId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MasterOfferImageUrl)
                                </th>
                                <th class="w-25">
                                    @Html.DisplayNameFor(model => model.MasterOfferTitle)
                                </th>
                                <th class="w-25">
                                    @Html.DisplayNameFor(model => model.MasterOfferBreif)
                                </th>
                                <th class="text-center">
                                    Operations
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-dark-light">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.MasterOfferId)
                                    </td>
                                    <td class="align-middle text-center">
                                        @if (string.IsNullOrEmpty(item.MasterOfferImageUrl))
                                        {
                                            @ViewBag.ImageNotFound
                                        }
                                        else
                                        {
                                            <img src="~/images/offer/@item.MasterOfferImageUrl" class="img img-fluid" width="150" />
                                        }
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.MasterOfferTitle)
                                    </td>
                                    <td class="align-middle w-25">
                                        @Html.DisplayFor(modelItem => item.MasterOfferBreif)
                                    </td>
                                    <td class="align-middle text-center">
                                        <a asp-action="Edit" asp-route-id="@item.MasterOfferId">
                                            <i class="bx bxs-edit text-secondary h5"></i>
                                        </a>
                                        <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal" id="btn-delete"
                                       data-path="@Url.ActionLink("Delete","MasterOffer",new {id= item.MasterOfferId})">
                                            <i class="bx bxs-trash text-danger h5"></i>
                                        </a>
                                        @if (item.IsActive)
                                        {
                                            <a asp-action="Active" asp-route-id="@item.MasterOfferId">
                                                <i class="ri-eye-fill text-success h5"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Active" asp-route-id="@item.MasterOfferId">
                                                <i class="ri-eye-close-fill text-danger h5"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
